body{ 
  font:normal 11px verdana,sans-serif; 
} 

.calendar { 
    width: 150px; 
    font: normal 9px verdana, sans-serif; 
    background: #f5f5f5; 
    height: 162px; 
    border: 1px solid #676767;
} 

.calhead { 
    width: 150px; 
    border-bottom: 1px solid #676767; 
    margin-bottom:3px; 
    text-align:center; 
    height:18px; 
} 

.calhead a { 
    display: block; 
    color: #FFFFFF; 
    text-decoration: none; 
    padding: 3px 
} 

.calhead a:hover {
	background-color: #F8C300;
} 

.right, .left {
	width: 20px;
	height: 18px;
	background-color: #F39039;
} 

.right { 
    float: right 
} 

.left { 
    float: left; 
} 

.middle { 
    margin: 0px 20px; 
    padding: 0 auto; 
} 

.middle span { 
    font: bold 11px verdana, sans-serif;
	position: relative; 
	text-align: center; 
	vertical-align:middle;
} 

.caldays { 
    width: 150px; 
    margin: 2px 0px;padding: 2px 0px; 
} 

ul.days { 
    padding: 0px; 
    margin: 0px; 
    list-style-type: none; 
} 

ul.days li {
	float: left;
	display: in-line;
	border: 1px solid #a9a9a9;
	width: 17px;
	height: 13px;
	margin: 1px;
	text-align: center;
	padding: 2px 0px 0px 0px;
	background-color: #F8C300;
} 

.caldates { 
    width: 148px; 
    margin:0 auto; 
} 

ul.dates { 
    padding: 0px; 
    margin: 0px; 
    list-style-type: none;     
} 

ul.dates li {
	float: left;
	display: in-line;
	border: 1px solid #a9a9a9;
	width: 17px;
	height: 13px;
	text-align: center;
	margin: 1px;
	padding: 2px 0px 0px 0px;
	background-color: #F5FEF8;
} 

ul.dates li:hover {
	background-color: #E9FBDB;
} 

ul.dates li a{ 
  color:#E9FBDB; 
  text-decoration:none; 
} 

.blank { 
    background: #e9e9e9!important 
} 

.today { 
    float: right; 
    margin-right: 5px; 
    position: relative; 
    right: 0px; 
    bottom: 0px; 
} 

.today a { 
    text-decoration: none; 
    font: 8px verdana, sans-serif; 
    color: #E77817; 
	position: relative; 
    left: 0px; 
    top: 0px; 
} 